/*! For 769px Device */

@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }
  nav a img {
    width: 130px;
  }
  #menu-close {
    display: initial;
    color: #fff;
    font-size: 1.6rem;
    padding: 30px 0 20px 20px;
  }

  #menu-btn {
    display: initial;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.3s ease;
  }

  nav .navigation ul.active {
    right: 0;
  }

  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .navigation ul li a {
    color: #fff;
  }
  #home {
    height: 700px;
    padding-top: 0px;
  }
  #home h2 {
    margin-top: 30px;
  }

  #home p {
    width: 90%;
  }
  #features {
    padding: 8vw 4vw 0vw 4vw;
  }
  #course {
    padding: 8vw 4vw 0 4vw;
  }
  #registration {
    margin-top: 30px;
    padding: 6vw 4vw 6vw 4vw;
  }
  footer .pro-links i {
    text-align: center;
  }
  footer input {
    width: 100%;
    margin-bottom: 20px;
  }

  /* About Container Section */

  #about-container {
    display: flex;
    align-items: center;
    padding: 8vw 4vw 2vw 4vw;
  }

  #about-container .about-img {
    padding-right: 30px;
  }

  #trust .trust-img img {
    width: 50px;
    height: auto;
  }

  /* Blog section  */
  #blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:  8vw 4vw;
}
#blog-container .blog-post {
  width: 100%;
  margin:30px 0;
}
#blog-container .blog-post img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
}




/*! For 475px Device */

@media (max-width: 475px) {
  #registration {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  /* About Container Section */

  #about-container {
    flex-direction: column-reverse;
  }
  #about-container .about-img {
    width: 90%;
    padding-right: 0;
  }

  #about-container .about-text {
    width: 100%;
    margin-bottom: 20px;
  }
  #trust .trust-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#trust .trust-img img {
    width: 60px;
    margin: 10px 15px;
    height: auto;
}
  /* Blog section  */
  #blog-container {
    flex-direction: column;
}
#blog-container .blogs {
  width: 100%;
}
#blog-container .cate {
  width: 100%;
}
#blog-container .blog-post {
  width: 100%;
  margin:70px 0;
}
#blog-container .blog-post img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

}




/*! For 376px Device */

@media (max-width: 376px) {
  footer input {
    width: 100%;
    margin-bottom: 20px;
  }
}
